.element__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 80%;
  color: #000;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}